@model Paginacao<Fornecedores.Models.Entidades.Fornecedor>
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="~/css/site.css" />
<link rel="stylesheet" href="~/lib/jquery.inputmask/inputmask.js"/>


@{
    ViewData["Title"] = "Controle de Fornecedores";
}



<h1>Controle de Fornecedores</h1>
<p>
    @Html.ActionLink("Criar Novo Cadastro", "Create", "Fornecedor", null, new { @class = "btn btn-primary badge-pill" })
</p>
<br />
<form asp-action="Index" method="get">
    <div class="form-actions no-color">
        <p>
            Pesquisar por <b>Razão Social</b> ou <b>CNPJ</b> <input type="text" name="SearchString" value="@ViewData["CurrentFilter"]" />
            <input type="submit" value="Buscar" class="btn btn-primary" /> ||
            <a asp-action="Index" class="btn btn-outline-primary"> Lista completa.</a>
        </p>
    </div>
</form>
<br />



<table id="fornecedor" class="table table-striped table-bordered table-hover" style="width:100%">
    <thead class="thead-dark">
        <tr>
            <th>
                <a asp-action="Index" style="color:white" asp-route-sortOrder="@ViewData["NameSortParm"]">NomeFantasia</a>
            </th>
            <th>
                <a asp-action="Index" style="color:white" asp-route-sortOrder="@ViewData["NameSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Razao Social</a>
            </th>
            <th>
                <a asp-action="Index" style="color:white" asp-route-sortOrder="@ViewData["NameSortParm"]">Categoria</a>
            </th>
            <th>
                <a asp-action="Index" style="color:white" asp-route-sortOrder="@ViewData["NameSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">CNPJ</a>
            </th>
            <th>
                <a asp-action="Index" style="color:white" asp-route-sortOrder="@ViewData["DateSortParm"]">Data Cadastro</a>
            </th>
            <th>
                <a asp-action="Index" style="color:white" asp-route-sortOrder="@ViewData["NameSortParm"]">Endereco</a>
            </th>
            <th>
                <a asp-action="Index" style="color:white" asp-route-sortOrder="@ViewData["NameSortParm"]">Cidade</a>
            </th>
            <th>
                <a asp-action="Index" style="color:white" asp-route-sortOrder="@ViewData["NameSortParm"]">Estado</a>
            </th>
            <th>
                <a asp-action="Index" style="color:white" asp-route-sortOrder="@ViewData["NameSortParm"]">Responsavel</a>
            </th>
            <th>
                <a asp-action="Index" style="color:white" asp-route-sortOrder="@ViewData["NameSortParm"]">Telefone</a>
            </th>
            <th>
                <a asp-action="Index" style="color:white" asp-route-sortOrder="@ViewData["NameSortParm"]">Email</a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NomeFantasia)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RazaoSocial)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Categoria)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CNPJ)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DataCadastro)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Endereco)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cidade)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Estado)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Responsavel)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Telefone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>

                    <a asp-action="Edit" class="btn btn-success badge badge-success" asp-route-id="@item.Id">Editar</a>  <br />
                    <a asp-action="Details" class="btn btn-info badge badge-info" asp-route-id="@item.Id">Detalhes</a>  <br />
                    <a asp-action="Delete" class="btn btn-danger badge badge-danger" asp-route-id="@item.Id">Excluir</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@{
    var prevDisabled = !Model.Anterior ? "disabled" : "";
    var nextDisabled = !Model.Proximo ? "disabled" : "";
}

<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex - 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-default @prevDisabled">
    Anterior
</a>
<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex + 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-default @nextDisabled">
    Próximo
</a>